-if available_omniauth_providers.any?
  %p= t('authenticate_with_oauth')
  .oauth-logos
    - available_omniauth_providers.each do |name, settings|
      =link_to send("user_#{settings[:provider]}_omniauth_authorize_path") do
        %i{ class: "fa fa-5x fa-#{settings[:fa_icon]} fa-fw oauth-provider-logo" }
