=f.input :title
=f.input :abstract
=f.input :description, input_html: { rows: 20 }, hint: t('simple_form.hints.project.description', markdown: link_to_markdown_overview_url).html_safe
.row
  .col-md-6
    =f.input :date, as: :string, input_html: { value: @project.date.strftime(I18n.t("datetime.formats.ruby")) }
  .col-md-6
    =f.input :recurrence, as: :select, collection: selectable_recurrence_types, include_blank: false

=f.input :address

.row
  .col-md-4
    =f.input :zip
  .col-md-4
    =f.input :city
  .col-md-4
    =f.input :country, as: :select, collection: selectable_countries, include_blank: (selectable_countries.count > 1)

=f.input :public, as: :boolean, wrapper: :checkbox
=f.input :participation_wanted, as: :boolean, wrapper: :checkbox

:javascript
  $(function () {
    $('#project_date').datetimepicker({
      format: "#{I18n.t('datetime.formats.js')}",
      autoclose: true,
      todayBtn: true,
      startDate: "#{Time.now.to_s}",
      minuteStep: 10,
      fontAwesome: true,
    });
  });