.panel.panel-default
  .panel-heading
    .pull-right
      =category_label(project.category)

    %h3.panel-title= project.title

  .panel-body
    .row
      .col-md-4
        .project-detail
          %i.fa.fa-user.fa-fw
          =project.owner.name

        .project-detail
          %i.fa.fa-calendar.fa-fw
          =l project.next_date, format: :short

        -if project.recurrence&.to_sym != :none
          .project-detail
            %i.fa.fa-refresh.fa-fw
            =t(project.recurrence, scope: 'recurrence_types')

        .project-detail
          %i.fa.fa-map-marker.fa-fw
          =project.address
          |
          =project.zip
          =project.city

        -if project.participation_wanted
          .project-detail
            %i.fa.fa-heart.fa-fw
            =project.participations.length
            =t('project.participants')

        -if project.messages.any?
          .project-detail
            %i.fa.fa-envelope-o.fa-fw
            =project.messages.length
            =t('project.messages')

        .project-detail
          =link_to t('show_on_map'), map_path({ select: project.id }),
            { class: "btn btn-xs btn-link-to-map", role: 'button',
              style: "background-color: #{project.category&.color}" }

      .col-md-8
        %p
          =project.abstract

    %hr
    .right
      -if user_signed_in? and project.owner == current_user
        =link_to edit_project_path(project), { class: "btn btn-warning", role: 'button' } do
          %i.fa.fa-pencil-square-o
          =t('project.edit')

      =link_to project, { class: "btn btn-default", role: 'button' } do
        %i.fa.fa-hand-o-right
        =t('go_to_project')
