.container
  .row
    .col-md-12
      %h2
        = t('nav.projects')

      -if @q
        .panel.panel-default
          .panel-body
            %h4
              =t('results_found', count: @projects.length, q: @q)

            =link_to t('show_all'), projects_path, { class: "btn btn-default btn-lg", role: 'button' }

      .center
        =will_paginate @projects, renderer: BootstrapPagination::Rails

      =render @projects

      .center
        =will_paginate @projects, renderer: BootstrapPagination::Rails
