%h4
  =@project.title

.project-detail
  =category_label(@project.category)
  -@project.tags.each do |tag|
    =tag_label(tag)
%p
  %i.fa.fa-fw.fa-user
  =@project.owner.name

%p
  %i.fa.fa-fw.fa-calendar
  =l @project.next_date, format: :long

-if @project.recurrence and @project.recurrence.to_sym != :none
  %p
    %i.fa.fa-refresh.fa-fw
    =t(@project.recurrence, scope: 'recurrence_types')

%p
  %i.fa.fa-fw.fa-map-marker
  =@project.address
  |
  =@project.zip
  =@project.city

%p.hidden-xs
  =@project.abstract

%p.right
  =link_to @project, { class: "btn btn-default", role: 'button' } do
    %i.fa.fa-hand-o-right
    =t('go_to_project')
