platform_name: "FosterFork"

# create one with SecureRandom.hex(64)
secret_key: ""

#ui:
#  theme:

locales: { de: "Deutsch", en: 'English' }

#countries: [ 'de' ]

mail:
#  subject_prefix: ''
  from: 'me@localhost'

# delivery_method = :smtp
#  smtp_settings:
#    address: "localhost"
#    port: 25
#    domain: "local.domain"
#    user_name:
#    password:
#    authentication:

#  default_url_options:
#    host: "my.local.host"
#    port: 443
#    protocol: "https"

mapview:
  default_latitude:
  default_longitude:
  default_zoom: 11
  mapbox:
    project_id:
    key:

#geocoder:

#user_proximity: 10

#paperclip_options:

#recaptcha:
#  site_key:
#  secret_key:

#oauth:
#  twitter:
#    api_key:
#    api_secret:
#
#  facebook:
#    app_id:
#    app_secret:
#
#  google:
#    client_id:
#    client_key:
#
#  linkedin:
#    client_id:
#    client_secret:
#
#  github:
#    client_id:
#    client_secret:

#tracking:
#  google_analytics:
#    tracking_id:
#
#  piwik:
#    url:
#    site_id:
#
