.container
  .row
    .col-md-12
      .well
        %h2= t('tag_filter', label: tag_label(@tag)).html_safe
        %br
        =link_to t('show_all'), projects_path, class: "btn btn-default", role: 'button'

      .center
        =will_paginate @projects, renderer: BootstrapPagination::Rails

      =render @projects

      .center
        =will_paginate @projects, renderer: BootstrapPagination::Rails
