.pages.map {
  #map-container {
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .leaflet-top {
    top: 120px;
  }

  .leaflet-left {
//    left: $grid-padding;
  }

  .leaflet-right {
//    right: $grid-padding;
  }

  .leaflet-control {
    margin: 3px;
  }

  .custom-controls {
    position: absolute;
    top: 120px;
    left: 65px;
    z-index: 14;
    padding: 15px;
    height: 55px;
    margin: 2px;
//    background: $white;
    background:rgba(255,255,255,0.75);
    border-radius: 5px;
  }

  .leaflet-popup-content-wrapper {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    overflow: hidden;
  }

  .leaflet-popup-content {
    color: black;
  }

  #alert-container {
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 60px;
    right: 60px;
  }

//  @include at-breakpoint($mobile) {
//    .leaflet-top,
//    .custom-controls {
//      top: 100px;
//    }
//  }

  .overlay {
    float: right;
    z-index: 1;
    position: relative;
    padding: 10px;
    margin: 10px;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;

    p {
      font-size: 18px;
      margin-bottom: 5px;

      span {
        width: 100%;
        text-align: left;
      }
    }
  }

}

.pages.root {
  #map {
    width: 100%;
    height: 360px;
    pointer-events: none;
    margin-bottom: 15px;
    border-radius: 5px;
  }
}

.projects.show {
  #map {
    width: 100%;
    height: 200px;
  }
}

.leaflet-control-locate a,
.leaflet-control-locate.requesting a {
  padding: 3px 0 0 0;
}
