.container

  -if current_user.projects.any?
    .row
      .col-md-12
        %h2= t('profile.own_projects')

    .row
      .col-md-12
        =render current_user.projects

  -if current_user.participating_projects.any?
    .row
      .col-md-12
        %h2= t('profile.participating_projects')

    .row
      .col-md-12
        =render current_user.participating_projects
