%div{ class: "image-container" }
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %i.fa.fa-picture-o
        = t('image.upload_new')

    =simple_form_for [ project, Image.new ] do |f|
      .panel-body
        =f.input :alt
        =f.input :image

      .panel-footer
        =f.submit t('image.upload_new'), class: "btn btn-primary"
