%html
  %head
    :css
      body {
        width: 100%;
        min-width: 320px;
      }

      .message-content {
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        background-color: #ddd;
      }

      div.main {
        width: 100%;
        margin: auto;
      }

      table.main {
        width: 576px;
      }

      table.details td {
        background-color: #ddd;
      }

  %body
    %table.main{ cellspacing: 0, cellpadding: 0, border: 0, align: "center" }
      %tr
        %td
          = yield
